<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          <%= @response.display_name %>
        </h3>
      </div>

      <div class="panel-body">
        Completed
        <%= @response.question_responses_count %>
        of
        <%= Question.count %>
        questions
      </div>
    </div>

    <hr>
    <% @creative_qualities.each do |creative_quality| %>
      <% choices_by_quality = @response.choices_by_quality(creative_quality) %>

      <% highest_choices_by_question = @response.highest_choices_by_question(creative_quality) %>

      <div>
      <strong>
        <%= creative_quality.name %>
      </strong>
      <ul>
        <li>
          Raw score: <%= choices_by_quality.sum(&:score) %>
        </li>
        <li>
          Max score: <%= highest_choices_by_question.sum(&:score) %>
        </li>
      </ul>
      </div>
    <% end %>
    <hr>

    <% @response.question_responses.each do |question_response| %>
      <%= render 'questions/header', question: question_response.question %>

      <table class="table table-bordered">
        <% question_response.question.question_choices.each do |question_choice| %>
          <tr>
            <td>
              <% if question_choice == question_response.question_choice %>
                <strong>
                  <%= question_choice.text %>
                </strong>
                <br />
                <span class="<%= question_choice.text_class %>">
                  <%= "#{question_choice.creative_quality.name} #{question_choice.score}" %>
                </span>
              <% else %>
                <span class="text-muted">
                  <%= question_choice.text %>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
